.align-navbar{
  justify-content: end;
}

.imagen-carousel{
  width: 70%;
  height: 250px!important;
}
@media (min-width: 600px) {
  .imagen-carousel {
    height: 400px!important;
    width: 50%;
  }
}


footer{
  text-align: center;
}